body {
    margin: 0;
    padding: 0;
}

/* navbar */
.name {
  width: 150px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  transform: translateX(-175%);
}

.obsi {
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D9D9D9;
}

.logo {
  color: black;
  width: 130px;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}

.logo span {
  font-size: 30px;
}

.logo:hover {
  color: black;
}

.aa {
  background-color: #D9D9D9;
  color: black;
}

.name:hover {
  background-color: #D9D9D9;
  ;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
  color: #fff;
  background-color: #fff;
}

@media only screen and (max-width: 992px) {
  .name {
      transform: translateX(0);
  }
}


  .fpicture{
      width: 100%;
      margin: 0 auto;
  }
  .fpicture img{
      width: 100%;
      height: 450px;
      object-fit: cover;
  }
  
  
  .ftitle{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 25px;
      margin: 0;
      width: 100%;
      min-height: 500px;
  }
  .ftitle h1,
  .ftitle h3,
  .ftitle p{
      margin: 0;
      padding: 15px;
  }
  .ftitle p{
      color: gray;
  }
  .ftitle button{
      width: 200px;
      color: white;
      text-transform: uppercase;
      padding: 15px 25px;
      border: 0;
      background-color: #D99578;
    margin-left: 15px;
  
  }

.ftitle button:hover{
    background-color: #f8b294;
}

  .fimgs{
      width: 100%;
      min-height: 500px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .imgblock{
      position: relative;
      width: 270px;
      height: 270px;
      background-color: #D99578;
  }
  .fimgs .img1{
      position: absolute;
      width: 270px;
      height: 270px;
      object-fit: cover;
    margin-top: 100px;
    margin-left: 100px;
    z-index: 3;
  }
  .fimgs .img2{
      position: absolute;
      width: 270px;
      height: 270px;
      object-fit: cover;
      margin-bottom: 100px;
      margin-right: 100px;
      z-index: 2;
  }
  .exhibits{
      width: 100%;
      min-height: 40px;
      margin-bottom: 30px;
  }
  .exhibits h1{
      text-align: center;
      font-size: 38px;
  }
  
  .rcards{
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: space-around;
  }
  .rcards .card img{
      width: 30rem;
      height: 20rem;
      object-fit: cover;
  }
  .card-body{
      text-align: center;
  }
  
  .album-left,
  .album-right{
    width: 100%;
    min-height: 700px;
  }
  .rdown{
    width: 100%;
    height: 270px;
    box-sizing: border-box;
    padding: 0 15px;
    margin-bottom: 15px;
  }
  .rdown img{
    width: 100%;
    max-height: 270px;
    object-fit: cover;
  
  }
  .rup{
    padding: 0 15px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
  .rupleft{
    width: 70%;
    display: flex;
    flex-direction: column;
  }
  .rupleft img{
    height: 270px;
    object-fit: cover;
    width: 100%;
    margin-bottom:15px ;
  }
  .rupright img{
    object-fit: cover;
    width: 100%;
    height: 555px;
  }
  .album-right img{
    padding: 0 15px;
    width: 100%;
    height: 410px;
  
  }
  .album-right img:nth-child(1){
    margin-bottom: 20px;
  }
  .footer{
    width: 100%;
    min-height: 240px;
    background-color: #262930;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  }
  .footer-container{
    width: 66.6%;
    min-height: 240px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }
  .footer-container img{
  margin: 20px 0;
  }
  .footer-social{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  margin: auto 0;
  }
  .social-media{
    margin-top: 20px;
    width: 200px;
    display: flex;
    justify-content: space-between;
  }
  .social-media a{
    color: lightgray;
    font-size: 32px;
    transition: .2s;
  }
  .social-media a:hover{
    color: white;
    font-size: 32px;
  }
  .footer-container p {
    margin: 20px 0;
  
    color: #848789;
    font-family: Lato;
    font-size: 14px;
    font-style: italic;
    letter-spacing: normal;
    line-height: 17.87px;
  }
  .footer-container p span{
    font-family: 'Inspiration';
    font-size: 32px;
    color: white;
    font-weight: 600;
  }

  .fheadt{
    font-family:"New york";
    font-size: 60px;
  }

  .fteadtt{
    font-family:"New york";
    font-size: 30px;
  }

  .ftt {
    font-family:"New york";
    font-size: 60px;
  }

  .mmd{
    font-family: "New york";
    font-size: 30px;
  }

  .etmg {
    font-family: 'Coolvetica';
  }





/* //////////footer/////////// */

  .futer {
    width: 100%;
    background-color: #25282E;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .vontainer {
    width: 1000px;
    min-height: 200px;
  }
  
  .ftslo {
    width: 35%;
    min-height: 200px;
    float: left;
    padding-top: 10px;
  }

  .fto {
    width: 30%;
    min-height: 200px;  
    float: left;
  }

  .ftsg {
    width: 35%;
    min-height: 200px;
    padding-top: 10px;
    float: left;
  }

  .icons {
    width: 100%;
    min-height: 10px;
    margin-top: 10px;
  }

  .w1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    float: left;
}

.w2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    float: left;
}

.w3 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    float: left;
}

.w4 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    float: left;
}

.textftslo2{
    float:left;
    color: white;
    width: 100%;
    min-height: 10px;
    margin-top: 10px;
}

.textftslo{
    color: white;
}

.underline {
    text-decoration: underline;
}

.logoy{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social_medias{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.v1 {
    margin-left: 2px;
    margin-right: 2px;
    color: whitesmoke;
    text-decoration: none;
}

.ftsg b {
  color: #fff;
}

@media screen and (max-width: 1250px) {
    .rnav-container {
      display: block;
      padding: 0;
    }
    .rnav .logotype {
      display: inline-block;
      padding: 15px 30px;
    }
    .rnav .search-box {
      display: inline-flex;
      width: 100%;
      justify-content: center;
      margin-bottom: 15px;
    }
    .rnav .search-box input {
      width: 90%;
    }
    .rnav ol {
      display: flex;
      flex-direction: column;
      background-color: lightgray;
      height: 0;
      visibility: hidden;
      transition: 0.3s;
    }
    .rnav ol li {
      text-align: center;
      transition: 0.3s 0.1s all;
      opacity: 0;
    }
    .rnav ol li:nth-child(1) {
      transform: translateX(-150px);
    }
    .rnav ol li:nth-child(2) {
      transform: translateX(-200px);
    }
    .rnav ol li:nth-child(3) {
      transform: translateX(-250px);
    }
    .rnav ol li:nth-child(4) {
      transform: translateX(-300px);
    }
    .rnav ol li:nth-child(5) {
      transform: translateX(-350px);
    }
    .rnav ol li a {
      color: black;
      font-size: 28px;
      padding: 25px;
      display: block;
    }
  
    .rnav .bar {
      display: block;
      position: absolute;
      top: 40px;
      right: 40px;
      cursor: pointer;
    }
    .rnav .bar #times {
      display: none;
    }
    #check:checked ~ .rnav .bar #times {
      display: block;
    }
    #check:checked ~ .rnav .bar #bars {
      display: none;
    }
    #check:checked ~ .rnav ol {
      visibility: visible;
      height: 465px;
    }
    #check:checked ~ .rnav ol li:nth-child(1),
    #check:checked ~ .rnav ol li:nth-child(2),
    #check:checked ~ .rnav ol li:nth-child(3),
    #check:checked ~ .rnav ol li:nth-child(4),
    #check:checked ~ .rnav ol li:nth-child(5) {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @media screen and (max-width: 992px) {
    .footer-container img{
      display: block;
    }
    .footer-container p{
      display: block;
    }
    .footer-social img{
      justify-content: center;
    }
  }
  @media only screen and (max-width: 600px) {
      .fimgs .imgblock{
          width: 200px;
          height: 200px;
      }
      .fimgs .img1{
          position: absolute;
          width: 200px;
          height: 200px;
          object-fit: cover;
          margin-top: 70px;
          margin-left: 70px;
      }
      .fimgs .img2{
          position: absolute;
          width: 200px;
          height: 200px;
          object-fit: cover;
          margin-bottom: 70px;
          margin-right: 70px;
      }
  }

  @media only screen and (max-width: 992px) {
    .name {
        transform: translateX(0);
    }

    .futer {
      margin-top: 10px;
    }

    .ftslo {
      width: 100%;
    }

    .fto {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .ftsg {
      width: 100%;
    }
  }